mat-card {
  position: relative;

  mat-card-title,
  mat-card-subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .priority {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 4px;
    right: 2px;
    top: 2px;
    &.priority-0 {
      background-color: white;
    }

    &.priority-1 {
      background-color: yellow;
    }

    &.priority-2 {
      background-color: red;
    }
  }

  border: 1px solid #666666;
  margin: 0 0 10px 0;

  &.listMatCard {
    background-color: burlywood;
  }
  &.listMatCardToday {
    background-color: rgb(119, 119, 197);
  }

  mat-card-actions {
    padding: 0;
  }

  .date {
    color: #333333;
  }
}

.removeImg {position: absolute; top:30px; right:30px;}

.tasklist {
  position: relative;
 .taskNumbers {
    position: absolute; left: -60px; top: 0;
    mat-icon {font-family: Roboto, "Helvetica Neue", sans-serif;}
    color: rgb(212, 212, 212);
 }
}


.date-div {
  font-size: 0.8rem;
  .date {
    display: inline-block;
    min-width: 73px;
  }
}