<div mat-dialog-title class="dialog-title-bar">
  <h2 class="dialog">Task Details
    <a href="javascript:;" mat-dialog-close class="dialog-close-btn">
      <mat-icon>close</mat-icon>
    </a>
  </h2>
</div>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="taskDetailsForm">
    <mat-form-field appearance="fill">
      <mat-label>TaskName</mat-label>
      <input matInput #task_inp_name title="Task Name" type="text" formControlName="taskname" [(ngModel)]="data?.taskDetails.taskname" >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Task Due Date</mat-label>
      <mat-date-range-input [rangePicker]="picker" [min]="data?.taskDetails.date">
        <input matStartDate placeholder="Start date" [defaultValue]="data?.taskDetails.date"
          [(value)]="data?.taskDetails.date" >
        <input matEndDate placeholder="End date" formControlName="dueDate" [(ngModel)]="data?.taskDetails.dueDate">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <div>
      <mat-label>Task Priority</mat-label>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="priority"   [(ngModel)]="data?.taskDetails.priority" >
        <mat-button-toggle [value]="0">Small</mat-button-toggle>
        <mat-button-toggle [value]="1">Medium</mat-button-toggle>
        <mat-button-toggle [value]="2">High</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div>
      <mat-label>Task Is Over</mat-label>
      <mat-button-toggle-group  name="fontStyle" aria-label="Font Style" formControlName="isOver" [(ngModel)]="data?.taskDetails.isOver">
        <mat-button-toggle [value]="true">Done</mat-button-toggle>
        <mat-button-toggle [value]="false">Resume</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-form-field class="example-chip-list" appearance="fill" >
      <mat-label>Category association</mat-label>
      <mat-chip-list #chipList aria-label="Fruit selection" >
        <mat-chip
          *ngFor="let category of fruits"
          (removed)="remove(category)">
          {{category}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="New fruit..."
          #fruitInput
          [formControl]="fruitCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          >
          <!-- (matChipInputTokenEnd)="add($event)" -->
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let category of data?.taskDetails.categories" [value]="category.name">
          {{category.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-primary" color="primary" [disabled]="taskDetailsForm.status === 'INVALID'"
    [mat-dialog-close]="data">
    Submit
  </button>
  <button class="btn btn-danger m-l-10" (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>

<!-- {{data?.taskDetails.taskname}}
{{data?.taskDetails.date | date:'short'}}
{{data?.taskDetails.priority}}
{{data?.taskDetails.isOver}} -->
