<div class="header-bar">
  <mat-toolbar color="primary">
    <div class="container">
      <app-create class="" (tasklist_create)="taskListHandle()"></app-create>
    </div>
    <button mat-icon-button class="example-icon" title="Line Chart" (click)="signOut()"
      aria-label="icon-button with show_chart icon">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" title="Line Chart" (click)="openChartLine(userData)"
      aria-label="icon-button with show_chart icon">
      <mat-icon>show_chart</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" title="Bar Chart" (click)="openChartBar(userData)"
      aria-label="icon-button with bar_chart icon">
      <mat-icon>bar_chart</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div [categoryRefForTask]="''" class="tasks_main" *ngIf="tasks_loaded == 'success'; else tasks_not_loaded">
    <div class="container">
      <app-search [searchKeyword]="query" (searchTerm)="querySearched($event)"></app-search>
    </div>
    <div>
      <div class="container">
        <div class="d-flex items-center justify-between">
          <div class="task_filters">
            <mat-form-field appearance="fill">
              <mat-label>{{category}}</mat-label>
              <mat-select (selectionChange)="viewCategory($event)" [(value)]="categoryCapitalized">
                <mat-option [value]="null" >Select</mat-option>
                <mat-option *ngFor="let cat of categories.data" [value]="cat.name">{{cat.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button
              type="button" title="Upload"
              (click)="uploadFile()"
              className="btn-slim btn-download"
            >
            Upload
          </button>
          <button type="button" title="Download Tasks in Excel" (click)="downloadTasks()">Download</button>
        </div>
        <input title="Upload_Input" name="taskexcel" type="file" id="browse_btn" (change)="selectFiles($event)"
                                        value="Browse" />

      </div>
    </div>

    <div class="task_list">
      <div class="container">
        <div *ngIf="!contentLoading; else placeholder">
          <div class="task-row">
            <h4>Today</h4>
            <app-task-template  *ngIf="tasks_today.length; else no_tasks_today" [tasklist]="tasks_today" [isList]="'today'" (taskId)="checkDetailsById($event)"  (taskUpdate)="getUserTasks()"></app-task-template>
            <ng-template class="" #no_tasks_today >No Tasks Today</ng-template>
          </div>
          <div class="task-row">
            <h4>Task List</h4>
            <app-task-template  *ngIf="tasks.length;else no_tasks"  [tasklist]="tasks" [isList]="'due'" (taskId)="checkDetailsById($event)" (taskUpdate)="getUserTasks()"></app-task-template>
            <ng-template class="" #no_tasks >No Tasks</ng-template>
          </div>
          <div class="task-row">
            <h4>Task Over List</h4>
            <app-task-template *ngIf="tasks_over.length;else no_tasks_over" [tasklist]="tasks_over" [noedit]="true" (taskId)="checkDetailsById($event)"  (taskUpdate)="getUserTasks()"></app-task-template>
            <ng-template class="" #no_tasks_over >No Tasks</ng-template>
          </div>
        </div>
        <ng-template #placeholder>
          <app-placeholder></app-placeholder>
        </ng-template>
      </div>
    </div>
</div>

<ng-template #tasks_not_loaded>
  <div class="tasks_not_loaded ">
    <div class="container">
      <mat-card>
        <mat-card-content>
          <div *ngIf="tasks_loaded == 'err'; else tasks_loading">
            {{ errorMsg | json}}
          </div>
          <ng-template #tasks_loading>

            <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300">
              <circle id="arc1" class="circle" cx="150" cy="150" r="120" opacity=".89" fill="none" stroke="#632b26"
                stroke-width="12" stroke-linecap="square" stroke-opacity=".99213" paint-order="fill markers stroke" />
              <circle id="arc2" class="circle" cx="150" cy="150" r="120" opacity=".49" fill="none" stroke="#632b26"
                stroke-width="8" stroke-linecap="square" stroke-opacity=".99213" paint-order="fill markers stroke" />
              <circle id="arc3" class="circle" cx="150" cy="150" r="100" opacity=".49" fill="none" stroke="#632b26"
                stroke-width="20" stroke-linecap="square" stroke-opacity=".99213" paint-order="fill markers stroke" />
              <circle id="arc4" class="circle" cx="150" cy="150" r="120" opacity=".49" fill="none" stroke="#632b26"
                stroke-width="30" stroke-linecap="square" stroke-opacity=".99213" paint-order="fill markers stroke" />
              <circle id="arc5" class="circle" cx="150" cy="150" r="100" opacity=".89" fill="none" stroke="#632b26"
                stroke-width="8" stroke-linecap="square" stroke-opacity=".99213" paint-order="fill markers stroke" />
              <circle id="arc6" class="circle" cx="150" cy="150" r="90" opacity=".49" fill="none" stroke="#632b26"
                stroke-width="16" stroke-linecap="square" stroke-opacity=".99213" paint-order="fill markers stroke" />
              <circle id="arc7" class="circle" cx="150" cy="150" r="90" opacity=".89" fill="none" stroke="#632b26"
                stroke-width="8" stroke-linecap="square" stroke-opacity=".99213" paint-order="fill markers stroke" />
              <circle id="arc8" class="circle" cx="150" cy="150" r="80" opacity=".79" fill="#4DD0E1" fill-opacity="0"
                stroke="#632b26" stroke-width="8" stroke-linecap="square" stroke-opacity=".99213"
                paint-order="fill markers stroke" />
            </svg>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>


<ng-template #userData class="">
  <h1 mat-dialog-title>Task Priorities</h1>
  <div mat-dialog-content>
    <div *ngIf="chartType == 'line'">
      <app-my-line-chart [opened]="tasksChartOpened"></app-my-line-chart>
    </div>
    <div *ngIf="chartType == 'bar'">
      <app-bar-chart></app-bar-chart>
    </div>
  </div>
</ng-template>
