<mat-toolbar color="primary">
  <form [formGroup]="task_add" (ngSubmit)="task_create()">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Enter your Task name</mat-label>
      <input matInput type="text" name="taskname" [(ngModel)]="value" formControlName="taskname" />
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- <input type="date" name="date" formControlName="date" /> -->

    <!-- <mat-form-field appearance="fill">
      <mat-label>Verbose datepicker</mat-label>
      <input matInput [matDatepicker]="dp" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field> -->

    <button mat-raised-button color="accent" type="submit">Create</button>
  </form>
</mat-toolbar>
