mat-card {
  background: transparent;
  border: none;
}


form {
  mat-form-field {
    width: 100%;
    text-align: left;
    padding-right: 60px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
