<form class="input-big" [formGroup]="task_add" (ngSubmit)="task_create()">
  <mat-form-field class="input-search" appearance="fill">
    <mat-label>Enter your Task name</mat-label>
    <input matInput title="Task Name" type="text" [(ngModel)]="value" formControlName="taskname" />
    <button matSuffix mat-icon-button type="button" *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="input-priority" appearance="fill">
    <mat-select  title="Priority" [(ngModel)]="selectedPriority" name="priority" formControlName="priority">
      <mat-option *ngFor="let p of priorityList" [value]="p.value">
        {{p.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <input type="date" name="date" formControlName="date" /> -->

  <!-- <mat-form-field appearance="fill">
      <mat-label>Verbose datepicker</mat-label>
      <input matInput [matDatepicker]="dp" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field> -->

  <button mat-raised-button color="accent" type="submit">Create</button>
</form>
