
<!-- chart
loginTimeOut
taskCountError
userCreated
userVerified -->

<div class="modale opened show-{{infoModal.show}} error-{{infoModal.error}}">
    <div class="modal-dialog">
        <div class="modal-header">
            <ng-content select="header"></ng-content>
        </div>
        <div class="modal-body"   *ngIf="infoModal.infoModalType !== 'chart';">
            <ng-content select="body"></ng-content>
        </div>
        <div class="modal-body"  *ngIf="infoModal.infoModalType === 'chart';">
            <body><app-chart-pie></app-chart-pie></body>
        </div>
        <div class="modal-footer" *ngIf="infoModal.actions === 'redirect'">
            <p>Redirecting to Login in {{tmr}}/5 seconds</p>
            <button type="button" mat-raised-button color="primary" (click)="goBack()" class="btn" >Goto Login</button>
        </div>
        <div class="modal-footer" #standardModalFooter  *ngIf="infoModal.actions === 'close'">
            <button type="button" mat-raised-button color="primary" (click)="closeModal()" class="btn" >Close</button>
        </div>
    </div>
</div>