<form class="" [formGroup]="searchFormGroup">
  <!-- <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Enter your Search</mat-label>
    <input #searchTerm matInput type="text" name="searchTerm" [(ngModel)]="searchValue" formControlName="searchTerm" />
    <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->

  <mat-form-field class="fluid-input" appearance="fill">
    <mat-label>Enter your Search</mat-label>
    <input #searchInp type="text" placeholder="Pick one" aria-label="Seach Term" [(ngModel)]="searchValue" matInput
      formControlName="searchTerm" name="searchTerm" />
      <span matSuffix mat-icon-button aria-label="Clear">
        <span #icon_refresh class="material-icons">refresh</span>
        <button #clearSearch (click)="btnClearSearch()"  >
          <span #icon_close class="material-icons">close</span>
        </button>
      </span>
    <!-- <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions" [value]="option.taskname" (click)="optionSelected(option._id)">
        {{option.taskname}}
      </mat-option>
    </mat-autocomplete> -->
  </mat-form-field>
</form>
