<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" *ngIf="!isSignUpSubmitted">
      <mat-card-header class="login-title">
        <mat-card-title>Signup</mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="signUpForm" (ngSubmit)="submitSignUpForm($event)">
        <mat-card-content>
            <div class="login-box">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" formControlName="username" >
                <mat-error [hidden]="cn['username'].status == 'VALID'">Username is required</mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" formControlName="email" >
                <mat-error [hidden]="cn['email'].status == 'VALID'">Email is required</mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" formControlName="password">
                <mat-error [hidden]="cn['password'].status == 'VALID'">Password is required</mat-error>
              </mat-form-field>
            </div>
        </mat-card-content>
        <button title="Signup" type="submit" mat-stroked-button color="accent" class="btn-block">Signup</button>
      </form>
    </mat-card>
    <div *ngIf="isSignUpSubmitted">
      <div>
        <h4>Verification Email sent to {{signUpForm.value.email}}</h4>
      </div>
    </div>
  </div>

  <ng-template #modalemplate [ngIf]="isSignUpSubmitted">
    <app-modal [infoModalType]="infoModalType"  [infoModalCategory]="infoModalCategory" [class]="{'error' : infoModal.error, 'success' : infoModal.show }" >
        <header><h4>Verification Email sent to {{signUpForm.value.email}}</h4></header>
        <body>
            <p>Please goto your email inbox and click the link sent in the Verification email.</p>
        </body>
    </app-modal>
  </ng-template>