<app-header></app-header>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" *ngIf="!isSignUpSubmitted">
      <mat-card-header class="login-title">
        <mat-card-title>Signup</mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="signUpForm" (ngSubmit)="submitSignUpForm($event)">
        <mat-card-content>
            <div class="login-box">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" formControlName="username" >
                <mat-error *ngIf="cn['username'].errors?.['required']">Username is required.</mat-error>
                <mat-error *ngIf="cn['username'].errors?.['minlength'] && cn['username'].touched">Username too short</mat-error>
                <mat-error *ngIf="cn['username'].errors?.['maxlength'] && cn['username'].touched">Username too long</mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" formControlName="email" >
                <mat-error *ngIf="cn['email'].errors?.['required']">Email is required.</mat-error>
                <mat-error *ngIf="cn['email'].errors?.['email'] && cn['email'].touched">Invalid email format.</mat-error>
              </mat-form-field>
              <div #passdiv class="width-fluid animate__animated">
                <mat-form-field class="!block width-fluid">
                  <input matInput placeholder="Password" [type]="passIsVisible ? 'text' : 'password'" formControlName="password">
                  <mat-icon *ngIf="passIsVisible" (click)="passIsVisible = false" matSuffix>visibility</mat-icon>
                  <mat-icon *ngIf="!passIsVisible" (click)="passIsVisible = true" matSuffix>visibility_off</mat-icon>
                  <!-- <mat-icon *ngIf="!passIsVisible" matSuffix>visibility_off</mat-icon> -->
                  <mat-error [hidden]="cn['password'].status == 'VALID'">Password is required</mat-error>
                  <mat-error *ngIf="cn['password'].errors?.['minlength'] && cn['password'].touched">Password too short</mat-error>
                </mat-form-field>
                <mat-form-field class="!block width-fluid">
                  <input matInput placeholder="Confirm Password" [type]="passIsVisible2 ? 'text' : 'password'" formControlName="password2">
                  <mat-icon *ngIf="passIsVisible2" (click)="passIsVisible2 = false" matSuffix>visibility</mat-icon>
                  <mat-icon *ngIf="!passIsVisible2" (click)="passIsVisible2 = true" matSuffix>visibility_off</mat-icon>
                  <!-- <mat-icon *ngIf="!passIsVisible2" matSuffix>visibility_off</mat-icon> -->
                  <mat-error [hidden]="cn['password2'].status == 'VALID'">Password is required</mat-error>
                  <mat-error *ngIf="cn['password2'].errors?.['minlength'] && cn['password2'].touched">Password too short</mat-error>
                </mat-form-field>
              </div>
            </div>
        </mat-card-content>
        <!-- <a (click)="formStatus()">Status</a>
        {{passwordMatch}}--passwordMatch -->
        <button title="Signup" type="submit" [disabled]="cn['username'].status !== 'VALID' || cn['email'].status !== 'VALID' || (cn['password'].value === '') && (cn['password2'].value === '') || !passwordMatch" mat-stroked-button color="accent" class="btn-block  {{processSignUp ? 'processing' : ''}}">Signup</button>
      </form>
    </mat-card>
    <div *ngIf="isSignUpSubmitted">
      <div>
        <h4>Verification Email sent to {{signUpForm.value.email}}</h4>
      </div>
    </div>
  </div>

  <ng-template #modalemplate [ngIf]="isSignUpSubmitted">
    <app-modal [infoModal]="infoModal"  (modalCloseInit)="closeInfoModal($event)">
        <header><h4>{{infoModal.title}}</h4></header>
        <body>
            <p>{{infoModal.message}}</p>
        </body>
    </app-modal>
  </ng-template>