<app-header></app-header>
<div #passdiv class="login-wrapper animate__animated" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" *ngIf="!isForgotPasswordSubmitted">
      <mat-card-header class="login-title">
        <mat-card-title>Forgot Password Password</mat-card-title>
      </mat-card-header>
      <form class="" *ngIf="!isForgetPasswordResetMode" [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPasswordForm($event)" >
        <mat-card-content>
            <div class="login-box">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email" >
                    <mat-error [hidden]="cn['email'].status == 'VALID'">Email is required</mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
        <button title="Signup" type="submit" [disabled]="forgotPasswordForm.status === 'INVALID'" mat-stroked-button color="accent" class="btn-block">Send Reset Link</button>
    </form>

      <form class="example-form" *ngIf="isForgetPasswordResetMode" [formGroup]="forgotPasswordResetForm" (ngSubmit)="submitForgotPasswordResetForm($event)">
        <mat-card-content>
            <div class="login-box">
              <div  class="width-fluid ">
                <mat-form-field class="!block width-fluid">
                  <input matInput placeholder="New Password" [type]="passIsVisible ? 'text' : 'password'" formControlName="password">
                  <mat-icon *ngIf="passIsVisible" (click)="passIsVisible = false" matSuffix>visibility</mat-icon>
                  <mat-icon *ngIf="!passIsVisible" (click)="passIsVisible = true" matSuffix>visibility_off</mat-icon>
                  <mat-error [hidden]="cn['password'] ? cn['password'].status == 'VALID' : ''">Password is required</mat-error>
                </mat-form-field>
                <mat-form-field class="!block width-fluid">
                  <input matInput placeholder="Confirm Password" [type]="passIsVisible2 ? 'text' : 'password'" formControlName="password2">
                  <mat-icon *ngIf="passIsVisible2" (click)="passIsVisible2 = false" matSuffix>visibility</mat-icon>
                  <mat-icon *ngIf="!passIsVisible2" (click)="passIsVisible2 = true" matSuffix>visibility_off</mat-icon>
                  <mat-error [hidden]="cn['password2'] ? cn['password2'].status == 'VALID' : ''">Password is required</mat-error>
                </mat-form-field>
              </div>
            </div>
        </mat-card-content>
        <!-- <a (click)="formStatus()">Status</a>
        {{passwordMatch}}--passwordMatch -->
        <button title="Signup" type="submit" [disabled]="!passwordMatch" mat-stroked-button color="accent" class="btn-block {{processForgotPassword ? 'processing' : ''}}" >ForgotPassword</button>
      </form>
    </mat-card>
    <!-- <div *ngIf="isForgotPasswordSubmitted">
      <div>
        <h4>Verification Email sent to {{forgotPasswordForm.value.email}}</h4>
      </div>
    </div> -->
  </div>

  <ng-template #modalemplate [ngIf]="infoModal.show">
    <app-modal [infoModal]="infoModal"  (modalCloseInit)="closeInfoModal($event)">
        <header><h4>{{infoModal.title}}</h4></header>
        <body>
            <p>{{infoModal.message}}</p>
        </body>
    </app-modal>
  </ng-template>