@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "~/node_modules/placeholder-loading/src/scss/placeholder-loading";
html,
body {
  height: 100%;
  background: #dfd6d6;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div,span,select,textarea,a,h1,h2,h3,h4,h5,h6,strong,sub,sup,
input {
  outline: none !important;outline-offset:0cap;box-shadow:none !important;
  &[type="text"] {
    &:focus{
      outline: none !important;outline-offset:0cap;box-shadow:none !important;
    }
  }
}


.mb-18 {
  margin-bottom: 18px;
}

.mat-raised-button.mat-basic {background-color: white;}

.d-flex {display: flex;}
.flex-basis-100 {
  flex :1 1 100%;
}
.justify-start {justify-content: flex-start;}
.justify-between {justify-content: space-between;}
.justify-end {justify-content: flex-end;}

.items-start {align-items: flex-start;}
.items-center {align-items: center;}
.items-end {align-items: flex-end;}

.flex-column { flex-direction: column;}
.flex-row { flex-direction: row;}

mat-card-actions {
  button {
    margin-left: 10px !important;
  }
}

.tasks_main {
  padding-top: 40px;
}

.header-bar {
  //margin-bottom: 40px;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    app-create {
      // width: calc(100% - 80px);
      width: 100%;
    }
  }
}


.cursor-pointer {cursor: pointer !important;}

.input-big {
  mat-card {
    background: transparent;
    border: none;
  }

  form {
    mat-form-field {
      width: 100%;
      text-align: left;
      padding-right: 60px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.task_list,
.input-big {
  .mat-form-field {
    margin-right: 20px;
  }
}

.fluid-input {
  .mat-form-field {
    width: calc(100% - 120px);
  }

  width: calc(100%);
}

.input-priority {
  width: 100px;
}

.input-search {
  width: calc(100% - 260px);
}
.input-priority {
  width: 140px;
}

.tasknameinp {
  @media(min-width:500px) {
    width: 500px;
  }
  @media(max-width:300px) {
    width: 300px;
  }
  .mat-form-field {
   
  }
  // .mat-form-field-infix {
  //   border-top: 0 !important;
  //   padding-top: 0 !important;
  // }

  // .mat-form-field-flex {
  //   padding-top: 10px !important;
  //   padding-left: 10px !important;
  //   padding-right: 10px !important;
  // }

  // input {
  //   font-size: 16px !important;
  // }
}



.container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}



.login-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .box {text-align: center; width: 400px;}
  .login-title {display: inline-block;}
  .login-box {
      display: flex;
      flex-direction: column;
  }
}


.modale {
  position: relative;z-index: 300;
  &:before {
      content: "";
      display: none;
      background: rgba(0, 0, 0, 0.6);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
  }

  &.opened {
      &:before {
          display: block;
      }
      .modal-dialog {
          transform: translate(-50%,0);
          width: 420px;
          top: 20%;
          pointer-events: unset;
      }
  }

  .modal-footer {
      padding: 10px 20px;
      text-align: right;
  }
  

  .modal-header {
      text-align: left;
      border-bottom: #c7c7c7 solid 1px;
      h2 {
          font-size: 20px;
          }
          h4 {
            padding: 10px 20px;
            margin: 0;
          }
  }

  .modal-dialog {
      background: #fefefe;
      border: #333333 solid 0px;
      border-radius: 5px;
      // margin-left: -200px;
      text-align:center;
      position: fixed;
      left: 50%;
      top: -100%;
      z-index: 8999;
      
      box-shadow:0 5px 10px rgba(0,0,0,0.3);
      -webkit-transform: translate(0, -500%);
      -ms-transform: translate(0, -500%);
      transform: translate(0, -500%);
      -webkit-transition: -webkit-transform 0.3s ease-out;
      -moz-transition: -moz-transform 0.3s ease-out;
      -o-transition: -o-transform 0.3s ease-out;
      transition: transform 0.3s ease-out;
    }
    .modal-body {
      
      text-align: left;
      p {margin:0;}
      body {
        padding: 10px 20px;
        overflow: auto;
        background-color: white !important;
      }
    }

    .modal-footer {
      background: #e8e8e8;
    }

    // &.chart {
    //   width: calc(100vh - 60px);
    //     height: calc(100vh - 100px);
    //   .modal-dialog {
    //     width: calc(100vh - 60px);
    //     height: calc(100vh - 100px);
    //   }
    // }
}




.loader-ring {
  display: inline-block;
  position: relative;
}
.loader-ring-div  {
  box-sizing: border-box;
  display: block;
  position: absolute;
  margin: 2px;
  border: 2px solid white;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: white transparent transparent transparent;
}




//--- loader 
.lds-ring-custom {
  cursor:help;
  @extend .loader-ring;
}
.lds-ring-custom div {
  @extend .loader-ring-div;
  border-width: 1px;
  &:nth-of-type(1){
    border-color: #555555;
  }
}


.processing-common {
  display: inline-block;
  top: 33%;
  left: 0;
  margin-top: -5px;
  vertical-align: middle;
  transform: translateY(50%);
  border-radius: 100px;
  border-color: white;
  border-style: outset;
  animation: processing 2s linear infinite;
}

.processing-f-btn {
  &::before {
    content: "";
    @extend .processing-common;
    height: 1rem;
    width: 1rem;
    margin-right: 10px;
    border-width: 2px !important;
  }
}

@keyframes processing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.btn {
  &.processing {
    position: relative;
    opacity: 1;
    @extend .processing-f-btn;
  }
}


.task-bar-actions {
  position: absolute;
  right: 0;
}

.task-bar-logo {
  position: absolute;
  left:0;
}