@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
  background: #dfd6d6;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card-actions {
  button {
    margin-left: 10px !important;
  }
}

.header-bar {
  margin-bottom: 40px;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    app-create {
      // width: calc(100% - 80px);
      width: 100%;
    }
  }
}


.input-big {


  mat-card {
    background: transparent;
    border: none;
  }

  form {
    mat-form-field {
      width: 100%;
      text-align: left;
      padding-right: 60px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.task_list,
.input-big {
  .mat-form-field {
    margin-right: 20px;
  }
}

.fluid-input {
  .mat-form-field {
    width: calc(100% - 120px);
  }

  width: calc(100%);
}

.input-priority {
  width: 100px;
}

.input-search {
  width: calc(100% - 220px);
}

.tasknameinp {
  @media(min-width:500px) {
    width: 500px;
  }
  @media(max-width:300px) {
    width: 300px;
  }
  .mat-form-field {
   
  }
  // .mat-form-field-infix {
  //   border-top: 0 !important;
  //   padding-top: 0 !important;
  // }

  // .mat-form-field-flex {
  //   padding-top: 10px !important;
  //   padding-left: 10px !important;
  //   padding-right: 10px !important;
  // }

  // input {
  //   font-size: 16px !important;
  // }
}



.container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}
