<app-header></app-header>
<div  #passdiv class="login-wrapper animate__animated" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header class="login-title">
        <mat-card-title >Log In</mat-card-title>
      </mat-card-header>
      <form class="example-form auth-form" [formGroup]="signInForm" (ngSubmit)="submitSignInForm($event)">
        <mat-card-content>
          <div class="login-box">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" formControlName="email" >
              <mat-error *ngIf="cn['email'].errors?.['required']">Email is required.</mat-error>
                <mat-error *ngIf="cn['email'].errors?.['email'] && cn['email'].touched">Invalid email format.</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password"  [type]="passIsVisible ? 'text' : 'password'" formControlName="password">
              <mat-icon *ngIf="passIsVisible" (click)="passIsVisible = false" matSuffix>visibility</mat-icon>
              <mat-icon *ngIf="!passIsVisible" (click)="passIsVisible = true" matSuffix>visibility_off</mat-icon>
              <mat-error *ngIf="cn['password'].errors?.['required']">Password is required.</mat-error>
              <mat-error *ngIf="cn['password'].errors?.['minlength'] && cn['password'].touched">Password too short</mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button title="Navigate To Forgot Passwrd" type="button" mat-button color="link" (click)="forgotPassword()">Forgot Password</button>
          <button title="Signup" type="submit" mat-button color="primary" class="{{processSignIn ? 'processing' : ''}}">Log In</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>

  <ng-template #modalemplate [ngIf]="infoModal.show || infoModal.error">
    <app-modal [infoModal]="infoModal"  (modalCloseInit)="closeInfoModal($event)">
        <header><h4>{{infoModal.title}}</h4></header>
        <body>
            <p>{{infoModal.message}}</p>
        </body>
    </app-modal>
  </ng-template>
