<div class="tasklist" *ngFor="let task of tasklist">
  <mat-card [ngClass]="{'listMatCard': isList}">
    <div class="priority priority-{{task.priority}}">
    </div>
    <mat-card-title>
        <div class="d-flex">
          <mat-form-field class="tasknameinp" appearance="fill">
            <input matInput #task_inp_name title="Task Name" type="text" [value]="task.taskname">
            <button *ngIf="task_inp_name.value" matSuffix mat-icon-button aria-label="Clear" (click)="task_edit(task._id,task_inp_name.value, task)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-form-field>
          <!-- <button mat-raised-button color="primary" (click)="task_edit(task._id,task_inp_name.value, task)">Edit</button> -->
          <button mat-mini-fab color="basic" title="See Details" (click)="checkDetails(task._id)"><mat-icon>info</mat-icon></button>
      </div>
      <!-- <input #task_inp_name type="text" [value]="task.taskname" /> -->
      <mat-card-actions *ngIf="task.isOver; else task_not_over" align="end">
        <button mat-raised-button color="primary" (click)="task_status(task._id, false)">Resume</button>
        <button mat-raised-button color="warn" [title]="task._id" (click)="task_delete(task._id)">Delete</button>
      </mat-card-actions>
    </mat-card-title>
    <mat-card-subtitle>
      <span>ID : {{ task._id }}</span> <span *ngIf="task.date">Created at :
        <span class="date"> {{ task.date | date:'short' }}</span>
      </span>
    </mat-card-subtitle>
    <ng-template #task_not_over>
      <mat-card-actions align="end">
        <span><button mat-raised-button color="accent" (click)="task_status(task._id, true)">Done</button></span>
      </mat-card-actions>
    </ng-template>
  </mat-card>
</div>